<% @results.each do |result| %>
  <div>
    <% if result.errors.empty? %>
      Succesfully updated object <%= result.object_type %> <%= result.object_id %>
    <% else %>
      Failed to update object <%= result.object_type %> <%= result.object_id %>
      <% result.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= link_to 'Upload another file', new_csv_object_path %>
